{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react-hooks"],
  "extends": ["airbnb-typescript", "prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "sort-imports": ["error", { "ignoreDeclarationSort": true }],
    "arrow-parens": ["error", "as-needed"],
    "react/prop-types": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-curly-newline": 0,
    "import/prefer-default-export": 0,
    "@typescript-eslint/indent": 0,
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "@typescript-eslint/camelcase": "off"
  }
}
